<h1><%=@movie.title%></h1>

<p><%=@movie.rating%></p>
<p><%=@movie.description%></p>
<p><%=@movie.released_on%></p>
<p><%=@movie.total_gross%></p>
<p><%=number_to_currency(@movie.total_gross)%></p>

<p>
  <%= link_to "All Movies", movies_path %>
</p>
