<h1><%=@movie.title%></h1>

<p><%=@movie.rating%></p>
<p><%=@movie.description%></p>
<p><%=@movie.released_on%></p>
<p><%=format_total_gross(@movie)%></p>
<p><%=@movie.director%></p>
<p><%=@movie.cast%></p>
<p><%=@movie.duration%></p>
<p><%=image_tag(@movie.image_file_name)%></p>

<p>
  <%= link_to "All Movies", movies_path %>
  <%= link_to "Edit", edit_movie_path(@movie)%>
  <%= link_to "Add New Movie", new_movie_path %>
  <%= link_to "Delete Movie", movie_path(@movie), method: :delete, data: {confirm: "Are you sure?"} %></p>  <!-- without the method: :delete , the link will get a GET request which goes to the show action. For deleting you need a DELETE request by overwriting it -->
