<h1><%=@movie.title%></h1>

<p><%=@movie.rating%></p>
<p><%=@movie.description%></p>
<p><%=@movie.released_on%></p>
<p><%=format_total_gross(@movie)%></p>

<p>
  <%= link_to "All Movies", movies_path %>
  <%= link_to "Edit", edit_movie_path(@movie)%>
  <%= link_to "Add New Movie", new_movie_path %>
</p>
